<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Books Reviews</title>
</head>
<body>

    <section>
        <div class="intro-container">
            <div class="headings">
                <h1>Welcome to Books Reviews</h1>
                </p>
            </div>
            <form>
                <input type="text" placeholder="search......" name="search" id="search" autoComplete="off" />
            </form>
        </div>
        <div class="body-container">
            <div class="headings">
                <h2 id="bookTitle"><%= bookInfo.title %></h2>
                <img src="" alt="Book Cover" id="bookCover">
                <div id="bookInfo">
                    
                    <form action="">

                        <label for="author">Author:</label>
                        <input type="text" name="author"  value="<%= bookInfo.Author %>">

                        <label for="publicationYear">Publication Year:</label>
                        <input type="text" name="publicationYear"  value="<%= bookInfo.dateOfReview %>">

                        <label for="rating">Rating:</label>
                        <input type="text" name="rating" value="<%= bookInfo.rating %>">
                   
                    </form>
                </div>
                <div class="">

                    <h2>Review</h2>

                    <p id="bookReview"> <%= bookInfo.review %> </p>

                </div>review
                
            </div>
        </div>
    </section>
    
</body>
</html>