
<%- include('partials/header'); -%>

<body>

    <section>
        <div class="intro-container">
            <div class="headings">
                <h1>Welcome to Books Reviews</h1>
                </p>
            </div>
            <form action="/search" method="GET" >
                <input type="text" placeholder="search......" name="search" id="search" autoComplete="off" />
                <input type="submit" value="Search" />
            </form>
        </div>
    </section>

    <section>

        <!-- all book is displayed in this container  -->
        <div class="allbooks-container">    


            <% bookInfo.forEach((book) => { %>

            <!-- This is the container for each book -->
           <div class="eachbook-container">
              <div class="headings">
                <h2 id="bookTitle"><%= book.title %></h2> 
                <img src="" alt="Book Cover" id="bookCover">
                <div id="bookInfo">

                      <form action="">

                        <label for="author">Author:</label>
                        <input type="text" name="author"  value="<%= book.author %>" readonly>

                        <label for="readDate">Read date:</label>
                        <input type="text" name="readDate"  value="<%= book.dateofreview %>" readonly>

                        <label for="rating">Rating:</label>
                        <input type="text" name="rating"  value="<%= book.rating %>">

                        <h3>Review:</h3>
                        <textarea type="text" name="review" ><%= book.review %></textarea>
                        <input type="submit" name="update" value="Update review" />
                        <input type="submit" name="delete" value="Delete review" />

                    </form>  
                      

                </div>


                </div>
                
            </div>



            <% }) %>



        
        </div>
    </section>

        </div>
    </section>

<%- include('partials/footer.ejs'); -%>
    
